@import url("https://fonts.googleapis.com/css?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");

body {
  background: rgb(16, 10, 126);
  background: linear-gradient(
    90deg,
    rgba(16, 10, 126, 1) 0%,
    rgba(9, 34, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
  user-select: none;
}

.form {
  position: relative;
  z-index: 1;
  background: rgba(40, 70, 180, 0.8);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: "Baloo 2", display, handwriting;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: none;
}

.form button {
  font-family: "Concert One", cursive;
  text-transform: uppercase;
  background: #1700ff;
  color: whitesmoke;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

a {
  color: turquoise;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.form button:hover,
.form button:active {
  background: #4760ff;
}

.form .message {
  margin: 15px 0 0;
  color: aliceblue;
  font-size: 12px;
  font-family: "Baloo 2", display, handwriting;
}

.form .register-form {
  display: none;
}
